:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    --primary-color: #1677ff; // 主色
    --secondary-color: #0fbdb4; // 辅色
    --link-color: #4bfef1; // 链接色
    --success-color: #52c41a; // 成功色
    --warning-color: #faad14; // 警告色
    --error-color: #f5222d; // 错误色
    --text-color: rgba(0, 0, 0, .65); // 主文本色
    --text-color-secondary: rgba(0, 0, 0, .45); // 次文本色
    --heading-text-color: rgba(0, 0, 0, .85); // 标题色
    --background-color: #ffffff;
    --border-color: #d9d9d9;

    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 6px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        --primary-color: #12a594;
        --primary-text-color: #fff;
        --background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: rgba(255, 255, 255, 0.87);
        --background-color: #242424;
    }
}

html {
    line-height: 1.15;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: var(--font-family);
}

a {
    cursor: pointer;
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;
}

a:hover {
    color: var(--text-color);
}

ul {
    padding-left: 0;
    list-style: none;
}

input, select {
    height: 32px;
    padding: 2px 8px;
    box-shadow: inset 0 0 0 1px var(--gray-a7);
    border: none;
    border-radius: var(--radius-md);
    outline-color: var(--primary-color);
    font-family: var(--font-family);
    box-sizing: border-box;
}

input[type="checkbox"],input[type="radio"] {
    box-shadow: none;
    height: auto;
}

input[type="number"] {
    width: 60px;
}

button {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.box {
    background-color: var(--background-color);
}

.box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

.cell {
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
}

.cell-text {
    display: flex;
    align-items: center;
    gap: 8px;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 2px;
        background-color: var(--primary-color);
    }
}

.btn-default {
    min-width: 80px;
    min-height: 32px;
    border: 1px solid var(--border-color);
    background-color: #fff;
}

.btn-primary {
    min-width: 80px;
    min-height: 32px;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

// 表格
.table {
    width: 100%;
    border-collapse: collapse;

    tr {
        &:hover {
            background-color: #fafafa;
        }

        [align="center"] {
            display: flex;
            justify-content: center;
        }

        [align="right"] {
            display: flex;
            justify-content: flex-end;
        }
    }

    th,
    td {
        padding: 16px;
        border-bottom: 1px solid #f0f0f0;
    }

    th {
        text-align: inherit;
        background-color: #fafafa;
        position: relative;

        &:not(:last-child)::after {
            content: "";
            position: absolute;
            top: 50%;
            inset-inline-end: 0;
            width: 1px;
            height: 1.6em;
            background-color: #f0f0f0;
            transform: translateY(-50%);
            transition: background-color 0.2s;
        }
    }
}

.table-striped {
    tr:nth-child(even) {
        background-color: #fafafa;
    }
}

.table-bordered {
    tr {
        border: 1px solid #f0f0f0;

        th,
        td {
            border: 1px solid #f0f0f0;
        }
    }
}

// 表单
.form-inline {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.form-horizontal {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-item {
        flex-direction: row;

        label {
            justify-content: flex-end;
            min-width: 80px;
        }
    }
}

.form-vertical {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-item {
        flex-direction: column;
        gap: 4px;

        label {
            height: auto;

            &::after {
                content: '';
            }
        }
    }
}

.form-item {
    display: flex;
    gap: 8px;

    label {
        display: flex;
        align-items: center;
        height: 30px;

        &::after {
            content: ':';
        }
    }
}

.form-control {
    display: grid;
    grid-template-rows: 1fr 20px;
    min-width: 200px;

    .error {
        color: red;
        font-size: 12px;
        line-height: 20px;
        visibility: visible;
    }
}