@font-face {
  font-family: "iconfont"; /* Project id 519487 */
  src: url('iconfont.woff2?t=1734316467650') format('woff2'),
       url('iconfont.woff?t=1734316467650') format('woff'),
       url('iconfont.ttf?t=1734316467650') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-license1:before {
  content: "\e6c2";
}

.icon-mianmi:before {
  content: "\e61f";
}

.icon-fanhui:before {
  content: "\e613";
}

.icon-tingzhi:before {
  content: "\e6d2";
}

.icon-xiangqing:before {
  content: "\e653";
}

.icon-moreread:before {
  content: "\e625";
}

.icon-tabAdd:before {
  content: "\e600";
}

.icon-neirong:before {
  content: "\e641";
}

.icon-wuyeguanli:before {
  content: "\e6b9";
}

.icon-tongxun:before {
  content: "\e6c0";
}

.icon-folder1:before {
  content: "\e7d1";
}

.icon-user-filled:before {
  content: "\e755";
}

.icon-role:before {
  content: "\e64f";
}

.icon-pingjia:before {
  content: "\e61e";
}

.icon-yezhuguanli-:before {
  content: "\e63a";
}

.icon-jiaosequanxian:before {
  content: "\e698";
}

.icon-folder-filled:before {
  content: "\e61d";
}

.icon-maoyi:before {
  content: "\ea00";
}

.icon-folder:before {
  content: "\e6fd";
}

.icon-file:before {
  content: "\e83d";
}

.icon-dept:before {
  content: "\e60e";
}

.icon-kaoqin:before {
  content: "\e617";
}

.icon-wuliu:before {
  content: "\e606";
}

.icon-oa:before {
  content: "\e646";
}

.icon-bank-card:before {
  content: "\e64e";
}

.icon-depot:before {
  content: "\e68e";
}

.icon-enterprise:before {
  content: "\e8c9";
}

.icon-meeting:before {
  content: "\e614";
}

.icon-ingerprint:before {
  content: "\e621";
}

.icon-gongdan:before {
  content: "\e638";
}

.icon-ess:before {
  content: "\e612";
}

.icon-data:before {
  content: "\e8de";
}

.icon-community:before {
  content: "\e8f1";
}

.icon-purchase:before {
  content: "\e607";
}

.icon-community-fill:before {
  content: "\eda4";
}

.icon-chejian:before {
  content: "\e60d";
}

.icon-factory:before {
  content: "\e84c";
}

.icon-advert:before {
  content: "\e68f";
}

.icon-yingxiao:before {
  content: "\e60a";
}

.icon-hr:before {
  content: "\e64d";
}

.icon-made:before {
  content: "\e679";
}

.icon-resource:before {
  content: "\eeb1";
}

.icon-goods:before {
  content: "\e6ed";
}

.icon-menu:before {
  content: "\e6be";
}

.icon-store:before {
  content: "\e611";
}

.icon-safe:before {
  content: "\e6ec";
}

.icon-adjust:before {
  content: "\e6bf";
}

.icon-comment:before {
  content: "\e6c1";
}

.icon-discount:before {
  content: "\e6c3";
}

.icon-download:before {
  content: "\e6c4";
}

.icon-elipsis:before {
  content: "\e6c5";
}

.icon-favorite:before {
  content: "\e6c6";
}

.icon-filter:before {
  content: "\e6c7";
}

.icon-home:before {
  content: "\e6c8";
}

.icon-history:before {
  content: "\e6c9";
}

.icon-forward:before {
  content: "\e6ca";
}

.icon-import:before {
  content: "\e6cb";
}

.icon-link:before {
  content: "\e6cc";
}

.icon-loading:before {
  content: "\e6cd";
}

.icon-modular:before {
  content: "\e6ce";
}

.icon-print:before {
  content: "\e6cf";
}

.icon-minus:before {
  content: "\e6d0";
}

.icon-move:before {
  content: "\e6d1";
}

.icon-run-up:before {
  content: "\e6d3";
}

.icon-run-in:before {
  content: "\e6d5";
}

.icon-pin:before {
  content: "\e6d6";
}

.icon-save:before {
  content: "\e6d8";
}

.icon-search:before {
  content: "\e6d9";
}

.icon-share:before {
  content: "\e6da";
}

.icon-scanning:before {
  content: "\e6db";
}

.icon-security:before {
  content: "\e6dc";
}

.icon-sign-out:before {
  content: "\e6dd";
}

.icon-select:before {
  content: "\e6de";
}

.icon-stop:before {
  content: "\e6df";
}

.icon-success:before {
  content: "\e6e0";
}

.icon-switch:before {
  content: "\e6e1";
}

.icon-setting:before {
  content: "\e6e2";
}

.icon-survey:before {
  content: "\e6e3";
}

.icon-task:before {
  content: "\e6e4";
}

.icon-skip:before {
  content: "\e6e5";
}

.icon-time:before {
  content: "\e6e6";
}

.icon-top:before {
  content: "\e6e8";
}

.icon-upload:before {
  content: "\e6e9";
}

.icon-work:before {
  content: "\e6ea";
}

.icon-training:before {
  content: "\e6eb";
}

.icon-add:before {
  content: "\e678";
}

.icon-browse:before {
  content: "\e67b";
}

.icon-bottom:before {
  content: "\e67d";
}

.icon-back:before {
  content: "\e67f";
}

.icon-bad:before {
  content: "\e681";
}

.icon-arrow-double-left:before {
  content: "\e682";
}

.icon-arrow-left-circle:before {
  content: "\e686";
}

.icon-arrow-double-right:before {
  content: "\e687";
}

.icon-camera:before {
  content: "\e688";
}

.icon-chart-bar:before {
  content: "\e6b0";
}

.icon-attachment:before {
  content: "\e6b1";
}

.icon-code:before {
  content: "\e6b2";
}

.icon-close:before {
  content: "\e6b3";
}

.icon-column-horizontal:before {
  content: "\e6b4";
}

.icon-complete:before {
  content: "\e6b6";
}

.icon-chart-pie:before {
  content: "\e6b7";
}

.icon-cry:before {
  content: "\e6b8";
}

.icon-delete:before {
  content: "\e6ba";
}

.icon-direction-down:before {
  content: "\e6bb";
}

.icon-copy:before {
  content: "\e6bc";
}

.icon-cut:before {
  content: "\e6bd";
}

.icon-group:before {
  content: "\e6d7";
}

.icon-power:before {
  content: "\e680";
}

.icon-agent:before {
  content: "\e604";
}

.icon-member:before {
  content: "\e6ff";
}

.icon-dianzan_huaban:before {
  content: "\e615";
}

.icon-sousuo_huaban:before {
  content: "\e616";
}

.icon-trash:before {
  content: "\e618";
}

.icon-coupon:before {
  content: "\e619";
}

.icon-hongbao_huaban:before {
  content: "\e61a";
}

.icon-lishijilu_huaban:before {
  content: "\e61b";
}

.icon-wallet:before {
  content: "\e61c";
}

.icon-refresh:before {
  content: "\e622";
}

.icon-revoke:before {
  content: "\e623";
}

.icon-redo:before {
  content: "\e624";
}

.icon-quanping_huaban:before {
  content: "\e62c";
}

.icon-quxiaoquanping_huaban:before {
  content: "\e62d";
}

.icon-lock:before {
  content: "\e62e";
}

.icon-unlock:before {
  content: "\e62f";
}

.icon-scan:before {
  content: "\e630";
}

.icon-gengxin_huaban:before {
  content: "\e631";
}

.icon-email:before {
  content: "\e632";
}

.icon-phone:before {
  content: "\e68b";
}

.icon-address:before {
  content: "\e68c";
}

.icon-website:before {
  content: "\e68d";
}

.icon-picture:before {
  content: "\e690";
}

.icon-picture-add:before {
  content: "\e691";
}

.icon-user-add:before {
  content: "\e692";
}

.icon-user-mgt:before {
  content: "\e693";
}

.icon-article:before {
  content: "\e694";
}

.icon-article-edit:before {
  content: "\e695";
}

.icon-more:before {
  content: "\e696";
}

.icon-all:before {
  content: "\e697";
}

.icon-clock:before {
  content: "\e699";
}

.icon-bofang_huaban:before {
  content: "\e69a";
}

.icon-shangyishou_huaban:before {
  content: "\e69b";
}

.icon-xiayishou_huaban:before {
  content: "\e69c";
}

.icon-zanting_huaban:before {
  content: "\e69d";
}

.icon-bluetooth:before {
  content: "\e6aa";
}

.icon-wifi:before {
  content: "\e6ab";
}

.icon-electricity:before {
  content: "\e6ac";
}

.icon-volume:before {
  content: "\e6ad";
}

.icon-brightness:before {
  content: "\e6ae";
}

.icon-shutdown:before {
  content: "\e6af";
}

.icon-user:before {
  content: "\e6b5";
}

.icon-question:before {
  content: "\e68a";
}

.icon-menus:before {
  content: "\e689";
}

.icon-view:before {
  content: "\e633";
}

.icon-view-off:before {
  content: "\e634";
}

.icon-message:before {
  content: "\e635";
}

.icon-message-unread:before {
  content: "\e636";
}

.icon-record:before {
  content: "\e637";
}

.icon-icon-test6:before {
  content: "\e639";
}

.icon-order:before {
  content: "\e63b";
}

.icon-order-unread:before {
  content: "\e63c";
}

.icon-cart-empty:before {
  content: "\e63d";
}

.icon-cart:before {
  content: "\e63e";
}

.icon-icon-test12:before {
  content: "\e63f";
}

.icon-icon-test13:before {
  content: "\e640";
}

.icon-icon-test15:before {
  content: "\e642";
}

.icon-icon-test16:before {
  content: "\e643";
}

.icon-icon-test17:before {
  content: "\e644";
}

.icon-icon-test18:before {
  content: "\e645";
}

.icon-icon-test20:before {
  content: "\e647";
}

.icon-sale:before {
  content: "\e648";
}

.icon-icon-test22:before {
  content: "\e649";
}

.icon-icon-test23:before {
  content: "\e64a";
}

.icon-icon-test24:before {
  content: "\e64b";
}

.icon-icon-test25:before {
  content: "\e64c";
}

.icon-icon-test29:before {
  content: "\e650";
}

.icon-icon-test30:before {
  content: "\e651";
}

.icon-calculator:before {
  content: "\e652";
}

.icon-icon-test34:before {
  content: "\e655";
}

.icon-customer-service:before {
  content: "\e657";
}

.icon-list:before {
  content: "\e65a";
}

.icon-check-close-filled:before {
  content: "\e65c";
}

.icon-check-pass:before {
  content: "\e65d";
}

.icon-check-close:before {
  content: "\e65e";
}

.icon-check-pass-filled:before {
  content: "\e65f";
}

.icon-forbidden:before {
  content: "\e660";
}

.icon-forbidden-filled:before {
  content: "\e661";
}

.icon-info-filled:before {
  content: "\e662";
}

.icon-info:before {
  content: "\e663";
}

.icon-help-filled:before {
  content: "\e664";
}

.icon-help:before {
  content: "\e665";
}

.icon-caution:before {
  content: "\e666";
}

.icon-caution-filled:before {
  content: "\e667";
}

.icon-like:before {
  content: "\e668";
}

.icon-like-filled:before {
  content: "\e669";
}

.icon-star:before {
  content: "\e66a";
}

.icon-star-filled:before {
  content: "\e66b";
}

.icon-arrow-up:before {
  content: "\e66c";
}

.icon-arrow-left:before {
  content: "\e66d";
}

.icon-arrow-down:before {
  content: "\e66e";
}

.icon-arrow-right:before {
  content: "\e66f";
}

.icon-page-first:before {
  content: "\e670";
}

.icon-down-bottom:before {
  content: "\e671";
}

.icon-up-top:before {
  content: "\e672";
}

.icon-page-last:before {
  content: "\e673";
}

.icon-turning-left:before {
  content: "\e674";
}

.icon-turning-right:before {
  content: "\e675";
}

.icon-show-less:before {
  content: "\e676";
}

.icon-show-more:before {
  content: "\e677";
}

.icon-sina:before {
  content: "\e67a";
}

.icon-stackflow:before {
  content: "\e67c";
}

.icon-github:before {
  content: "\e67e";
}

.icon-balance:before {
  content: "\e683";
}

.icon-goto-link:before {
  content: "\e684";
}

.icon-benefits:before {
  content: "\e685";
}

